
body{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}
 
 /* Navigation Bar  */

.nav-bar{
    background-color:black;
    display: flex;
}
.nav-child{
    color: white;
    size: 10px;
    margin: 10px 18px;
}
.searchbtn{
    margin-left: 1000px !important;
}

/* ---------------------------------- */

/* Heading */
.headingpart1{
    margin: 65px 0px 50px 0px ;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}
.heading1{
    font-size: 48px;
    margin-bottom: 10px;
}
.heading2{
    font-size: 16px;
    margin-top: 0px;
}
#headingtxt{
    font-weight: 200;
    color: white;
    background-color: black;
}
.headingpart2{
    font-family: 'Oswald', sans-serif;
    background-image: url("images/jane.jpeg");
    height: 752px;
    color: white;
}
.heading3{
    font-size: 36px;
    position: relative;
    top: 320px;
    font-weight: 100;
}
.heading4{
    font-size: 64px;
    position:relative;
    top: 290px;
    font-weight: 500;
}
.subsbtn{
    position: relative;
    top:270px;
    padding: 10px 25px;
    background-color: white;
    opacity: 0.5;
    border-radius: 5px;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}
.head{
    margin: 25px 20px;
}

/* Content */

.container{
    background-color: #F1F1F1;
    display: flex;
    padding: 8px 16px;
}


/* Title Heading (Left) */

.titleheading{
    background-color: white;
    text-align: center;
    margin: 8px 12px;
    padding: 15px;
  
}
.titleheading .imgl1{
    height: 550px;
 
}
.titleheading p{
    color: black;
    margin-bottom: 15px;
    letter-spacing: 1px;
}
.titleheading #p1{
    font-weight: 100;
    text-align: left;
}
.titleheading h1{
    margin: 0px;
    font-weight: 200;
}
.like-link{
    float: left;
    padding: 5px 10px;
    border: 0.2px solid black;
}
.reply-link{
    float: right;
    padding: 10px 25px;
    background-color:black;
    color: white;
}
.imgl2{
    float: left;
    height: 105px;
    margin-right: 20px;
    margin-top: 20px;
}
.img-l2-h4 , .img-l2-p{
    text-align: left;
}
.img-l2-h4{
    margin-top: 40px;
    margin-bottom: 0px;
}



/* My Name(right) */

.myname{
    margin: 20px 16px;
    background-color: black;
    font-family: 'Oswald', sans-serif;
}

.myname img{
    height: 210px;
}
.myname h2,p{
    color: white;
    padding: 12px 10px;
    margin: 0px;
}
.myname h2{
    margin-bottom: 0px;
}
.myname p{
    margin-top: 0px;
}

/* ----------------------------- */

/* Popular Post (right)*/

.popular-post{
    padding: 25px 25px;
}
.popular-post h2{
    padding: 10px 28px;
    background-color: black;
    color:white;
    font-weight: 300;
}
.post-img{
    height: 50px;
    float: left;
    margin-right: 16px;
    transition: 0.4s;
}
.post-img:hover{
    transform: scale(1.2);
}
.post-info{
    color: black;
    padding-top: 0px;
    font-weight: 100;
}
.post-heading{
    font-weight: 100;
    font-size: 16px;
    margin: 0px 0px 5px 0px;
}
#last-img{
    filter: grayscale(0.5);
}

/* Advertisement (right)*/

.advertise{
    margin-top: 40px;
}

.advertise h2{
    color: white;
    background-color:black;
    padding: 12px 35px;
    font-weight: 200;
}
.adhere p{
    background-color: #F1F1F1;
    margin: 5px 5px;
    text-align: center;
    vertical-align: middle;
    color: black;
}

/* ------------------------------ */

/* Tags (right) */

/* ------------------------------ */

/* Inspiration */

.inspire{
    text-align: center;
}
.pics{
    display: flex;
    flex-flow: wrap;
    padding: 5px;
    justify-content:space-evenly;
    background-color: white;
}
.inspire h2{
    background-color: black;
    color: white;
    padding: 12px 25px;
}
.inside-pic img{
    height: 100px;
}

/* Follow Me */

.follow-me h2{
    background-color: black;
    color: white;
    padding: 10px 25px;
    margin-bottom: 8px;
}
.follow-me a{
    font-size: 20px;
    padding :0px 4px ;
}
.follow-me a i:hover{
    transition: 0.3s;
}
.follow-me a i:hover{
    transform: scale(1.3);
}

/* ---------------------------------- */

/* Subscribe */

.subscribe h2{
    background-color: black;
    color: white;
    padding: 10px 25px; 
}
.subscribe p{
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    margin: 15px 0px;
}
.form-section{
    padding: 5px;
    background-color: white;
}
input{
    padding: 10px 92px;
    margin-left: 10px;
}
/* .input:[placeholder]{
    font-family: 'Open Sans', sans-serif;
    font: size 25px;
    text-align: left; */

.form-section button{
    background-color: #f44336;
    padding: 10px 150px  ;
    font-family: 'Open Sans', sans-serif;
    color: white;
    border: none;
    margin: 20px 8px;
}
/* ---------------------------------- */

/* Title Heading 2 (left) */

.titleheading2{
    text-align: center;
    background-color: white;
    padding: 25px;
    margin: 25px; 
}
.titleheading2 h1{
    margin: 0px 0px 10px 0px;
}
#pb1{
    padding: 0px;
    color: black;
}
.pb1-a{
    color: #919191;
}
.titleheading2 img{
    height: 500px;
    margin: 10px 0px 10px 0px;
}
#pb2{
    color: black;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
}
.like-link-2{
    border: 1px dotted black;
    padding: 7px 18px;
    margin-top: 20px;
}
.reply-link-2{
    color: white;
    padding: 7px 25px;
    background-color: black;
    float: right;
    margin-top: 20px;
}

/* Title Heading 3 */

.titleheading3 img{
    height: 400px;
}
#pc1{
    position: relative;
    right:46px;
}
#pc2{
    color: black;
    text-align: left;
}
.like-link-3{
    position: relative;
}
.reply-link-3{
   position: relative;
   bottom: 20px;
}
/* Footer */

.footer{
    height: 180px;
    background-color: #616161;
}
.footbtn{
    background-color: black;
    color: white;
    font-size: 15px;  
    font-family: 'Open Sans', sans-serif;
    padding: 12px 25px; 
    margin-left: 25px;
    margin-top: 20px !important;
}
.reference{
    color: white;
    margin: 70px 0px 25px 0px;
}

/* --------------------------------------- */









